<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" type="text/css">
    <script src="{{ url_for('static', filename='js/loading.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <!-- Loader Screen -->
    <div class="loading-bg"></div>
    <div class="loader" id="loader">
        <div class="loader-top-dex">
            <img src="{{url_for('static',filename='images/pokedex/dex_header.png')}}" width="100%" height="auto"></img>
        </div>
        <div class="loader-pokeball"></div>
        <div class="loader-bottom-dex">
            <img src="{{url_for('static',filename='images/pokedex/dex_footer.png')}}" width="100%" height="auto"></img>
        </div>
    </div>
    <div style="text-align: center;">
        <a href="{{ url_for('home') }}">
            <img src="https://fontmeme.com/permalink/220612/7bbb60fb4fb7570eb56c7c884bd45176.png" alt="pokemon-font" border="0">
        </a>
    </div>
    <nav class="nav-bar">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('guess_pokemon')}}">Image Guesser</a>
        <a href="{{url_for('guess_text_pokemon')}}">Text Guesser</a>
        <a href="{{url_for('type_classification')}}">Types</a>
    </nav>
    <img src="{{url_for('static',filename='images/pokedex/dex_header.png')}}" width="100%" height="auto"></img>
    {% block content %}
    {% endblock %}
    <img src="{{url_for('static',filename='images/pokedex/dex_footer.png')}}" width="100%" height="auto"></img>
    <script>
        $(document).ready(() => {
            $('.select2-selector').select2({
                width: '100%',
                dropdownAutoWidth : true
            });
        })
    </script>
</body>
</html>
