{% extends 'base.html' %}
{% block title %}Pokemon Guesser{% endblock %}

{% block content %}
<div class="title-container">
    <img src="https://fontmeme.com/permalink/220619/e69924852730202474f45f4656932014.png" alt="pokemon-font" border="0">
</div>
<div class="guess-container">
    <form method="POST" enctype="multipart/form-data">
        <div class="upload-btn-wrapper">
            <button class="btn">Upload</button>
            <input type="file" name="file" id="file" />
        </div>
        <div class="or-style">
            OR
        </div>
        <div>
            <button class="btn" type="button" onclick="showCameraSetup()">Click Picture</button>
        </div>
        <div class="contentarea" id="contentarea" style="display: none;">
            <div class="camera">
                <video id="video">Video stream not available.</video>
            </div>
            <div><button type="button" id="startbutton" class="btn">Take photo</button></div>
            <div>
                <div class="or-style">Preview</div>
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="guess-submit">
            <input type="submit" class="btn-submit">
        </div>
    </form>

    {% if pokemon %}
    <div class="poke-card">
        {% if pokemon.image %}
        <div class="poke-image"><img src="{{ pokemon.image }}" alt="{{ pokemon.name }} Image"></div>
        {% endif %}
        <div class="poke-name">{{ pokemon.name }}</div>
        <div class="poke-type-container">
            <div class="{{ pokemon.primary_type.lower() }}-type">
                {{ pokemon.primary_type }}
            </div>
            {% if pokemon.secondary_type %}
            <div class="{{pokemon.secondary_type.lower() }}-type">
                {{ pokemon.secondary_type }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}