{% extends 'base.html' %}

{% block title %}
Team Ranker
{% endblock %}

{% block content %}
<div class="title-container">
    <img src="https://fontmeme.com/permalink/220712/ebd2d9bfe8aa1d8135c6cfe383231290.png" alt="pokemon-font" border="0">
</div>
<div class="algo-backdrop">
    {% if result %}
    <div class="strength-message {{result[1]}}">
        {{ result[0] }}
    </div>
    {% endif %}
    <form method="POST" style="text-align: center;">
        {{form.hidden_tag()}}
        <div class="algo-form">
            {% for field in form %}
                {% if field.id != 'csrf_token' %}
                    <div>
                        <img src="{{ placeholder }}" id="img-{{ field.id }}" width="25%">
                        {{ field(class='select2-selector') }}
                        <br>
                        {{ field.label() }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" class="btn-submit" value="Get Ranked">
    </form>
</div>
<script>
    $(document).ready(()=>{
        for(i=1; i<7; i++){
            let element = $(".select2-selector[id='poke"+ i +"']");
            $.ajax({
                url: "/api/pokemon/"+element.val(),
                type: "GET",
                success: function(data){
                    $("#img-"+element[0].id).attr(
                        'src',
                        data['image']
                    );
                }  
            })
        }

        $('.select2-selector').on('change', function(e){
            e.preventDefault();
            var getter_id = $(this)[0].id;
            $.ajax({
                url: "/api/pokemon/"+$(this).val(),
                type: "GET",
                success: function(data){
                    $("#img-"+getter_id).attr(
                        'src',
                        data['image']
                    );
                }
            })
        })
    })
</script>

{% endblock %}